# EXERCICIOS

**1 - Utilizando comandos SQL, apresente a instrução que resolva os seguintes
problemas propostos:**
<br>
  **Para resolução das questões, considere o seguinte esquema:**

Funcionarios (Codigo, PrimeiroNome,SegundoNome, UltimoNome, DataNasci, CPF, RG, Endereco, CEP, Cidade, Telefone, CodigoDepartamento, Funcao, Salario)
<br>
<br>
Departamentos (Codigo, Nome, Localizacao, CodigoFuncionarioGerente)

**A)** Listar nome e sobrenome ordenado por sobrenome<br>
**B)** Listar todos os campos de funcionários ordenados por cidade<br>
**C)** Liste os funcionários que têm salário superior a R$ 1.000,00 ordenados pelo nome completo<br>
**D)** Liste a data de nascimento e o primeiro nome dos funcionários ordenados do mais novo para o mais velho<br>
**E)** Liste o total da folha de pagamento<br>
**F)** Liste o nome, o nome do departamento e a função de todos os funcionários<br>
**G)** Liste a quantidade de funcionários desta empresa<br>
**H)** Liste o nome do departamento e do funcionário ordenados por departamentos e funcionário

In [39]:
import sqlite3
banco = sqlite3.connect('exercicio8.db')

In [40]:
cursor = banco.cursor()

In [41]:
cursor.execute("CREATE TABLE Funcionarios (Codigo integer, PrimeiroNome text, SegundoNome text, UltimoNome text, DataNasci text, CPF text, RG text, Endereco text, CEP text, Cidade text, Telefone text, CodigoDepartamento integer, Funcao text, Salario float)")
banco.commit()

In [42]:
listafuncionarios = [('1','Ana','Carolina','Santos','12/01/2001','239.493.919-29','1393939-1','Rua l, 123','01153-000','São Paulo','(11) 9403940404','32','Contador','2113.00'),
                     ('2','Maria','Eduarda','Silva','03/02/1994','329.495.345-04','2849494-4','Rua SS, 943','01153-000','São Paulo','(11) 3949304909','32','Desenvolvedor web','4050.00'),
                     ('3','João','Pedro','Oliveira','02/01/1980','493.932.202-94','39492494-2','Bairro lemos, 2213','29000-000','Minas Gerais','(31) 204014040','45','Analista de Dados','4949.00'),
                     ('4','Marcos','Vinicius','Souza','31/07/1988','495.223.423-09','1393941-2','Rua lemos, 1674','01153-000','São Paulo','(11) 304004404','32','Analista de Dados','4949.00'),
                     ('5','João','Silva','Santos','1990-05-15','123.456.789-00','123456789','Rua das Flores, 123','12345-678','São Paulo','(11) 91234-5678','32','Analista de Dados','5000.00'),
                     ('6','Maria','Oliveira','Cruz','1985-09-20','987.654.321-00','987654321','Avenida das Árvores, 456','54321-876','Rio de Janeiro','(21) 87654-3210','55','Desenvolvedor de Software','6000.00'),
                     ('7','Ana','Santos','Almeida','1992-03-10','456.789.123-00','456789123','Travessa dos Pássaros, 789','98765-432','Belo Horizonte','(31) 76543-2109','88','Analista de Dados','4800.00'),
                     ('8','Pedro','Silveira','Fernandes','1980-12-25','234.567.890-00','234567890','Rua das Pedras, 321','34567-890','Curitiba','(41) 65432-1098','22','Engenheiro Civil','7000.00'),
                     ('9','Carla','Mendes','Sousa','1975-07-30','543.210.987-00','543210987','Alameda dos Pinheiros, 654','87654-321','Porto Alegre','(51) 54321-0987','27','Médico Pediatra','8000.00'),
                     ('10','Fernando','Pereira','Gomes','1988-11-05','678.901.234-00','678901234','Avenida das Rosas, 987','23456-789','Recife','(81) 43210-9876','67','Desenvolvedor de Software','5500.00')]

In [43]:
cursor.executemany("""INSERT INTO Funcionarios VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?)""", listafuncionarios)
print("Dados inseridos com sucesso!")
banco.commit()

Dados inseridos com sucesso!

In [44]:
cursor.execute("CREATE TABLE Departamentos (Codigo integer, Nome text, Localizacao text, CodigoFuncionarioGerente integer)")

In [45]:
listadepartamentos = [('1','Contabilidade','São Paulo','003'),
                      ('2','Tecnologia da Informação','São Paulo','003'),
                      ('3','Tecnologia da Informação','Minas Gerais','007'),
                      ('4','Tecnologia da Informação','São Paulo','003'),
                      ('5','Tecnologia da Informação','São Paulo','003'),
                      ('6','Tecnologia da Informação','Rio de Janeiro','008'),
                      ('7','Tecnologia da Informação','Belo Horizonte','002'),
                      ('8','Engenharia','Curitiba','004'),
                      ('9','Medicina','Porto Alegre','009'),
                      ('10','Tecnologia da Informação','Recife ','001')]

In [46]:
cursor.executemany("""INSERT INTO Departamentos VALUES (?,?,?,?)""", listadepartamentos)
print("Dados inseridos com sucesso!")
banco.commit()

Dados inseridos com sucesso!

A) Listar nome e sobrenome ordenado por sobrenome

In [47]:
cursor.execute("SELECT PrimeiroNome, SegundoNome FROM Funcionarios ORDER BY SegundoNome")
print(cursor.fetchall())

[('Ana', 'Carolina'), ('Maria', 'Eduarda'), ('Carla', 'Mendes'), ('Maria', 'Oliveira'), ('João', 'Pedro'), ('Fernando', 'Pereira'), ('Ana', 'Santos'), ('João', 'Silva'), ('Pedro', 'Silveira'), ('Marcos', 'Vinicius')]

B) Listar todos os campos de funcionários ordenados por cidade

In [48]:
cursor.execute("SELECT * FROM Funcionarios ORDER BY Cidade")
print(cursor.fetchall())

[(7, 'Ana', 'Santos', 'Almeida', '1992-03-10', '456.789.123-00', '456789123', 'Travessa dos Pássaros, 789', '98765-432', 'Belo Horizonte', '(31) 76543-2109', 88, 'Analista de Dados', 4800.0), (8, 'Pedro', 'Silveira', 'Fernandes', '1980-12-25', '234.567.890-00', '234567890', 'Rua das Pedras, 321', '34567-890', 'Curitiba', '(41) 65432-1098', 22, 'Engenheiro Civil', 7000.0), (3, 'João', 'Pedro', 'Oliveira', '02/01/1980', '493.932.202-94', '39492494-2', 'Bairro lemos, 2213', '29000-000', 'Minas Gerais', '(31) 204014040', 45, 'Analista de Dados', 4949.0), (9, 'Carla', 'Mendes', 'Sousa', '1975-07-30', '543.210.987-00', '543210987', 'Alameda dos Pinheiros, 654', '87654-321', 'Porto Alegre', '(51) 54321-0987', 27, 'Médico Pediatra', 8000.0), (10, 'Fernando', 'Pereira', 'Gomes', '1988-11-05', '678.901.234-00', '678901234', 'Avenida das Rosas, 987', '23456-789', 'Recife', '(81) 43210-9876', 67, 'Desenvolvedor de Software', 5500.0), (6, 'Maria', 'Oliveira', 'Cruz', '1985-09-20', '987.654.321-00', '987654321', 'Avenida das Árvores, 456', '54321-876', 'Rio de Janeiro', '(21) 87654-3210', 55, 'Desenvolvedor de Software', 6000.0), (1, 'Ana', 'Carolina', 'Santos', '12/01/2001', '239.493.919-29', '1393939-1', 'Rua l, 123', '01153-000', 'São Paulo', '(11) 9403940404', 32, 'Contador', 2113.0), (2, 'Maria', 'Eduarda', 'Silva', '03/02/1994', '329.495.345-04', '2849494-4', 'Rua SS, 943', '01153-000', 'São Paulo', '(11) 3949304909', 32, 'Desenvolvedor web', 4050.0), (4, 'Marcos', 'Vinicius', 'Souza', '31/07/1988', '495.223.423-09', '1393941-2', 'Rua lemos, 1674', '01153-000', 'São Paulo', '(11) 304004404', 32, 'Analista de Dados', 4949.0), (5, 'João', 'Silva', 'Santos', '1990-05-15', '123.456.789-00', '123456789', 'Rua das Flores, 123', '12345-678', 'São Paulo', '(11) 91234-5678', 32, 'Analista de Dados', 5000.0)]

C) Liste os funcionários que têm salário superior a R$ 1.000,00 ordenados pelo nome completo

In [49]:
cursor.execute("SELECT PrimeiroNome, SegundoNome, UltimoNome FROM Funcionarios WHERE Salario > 1000.00")
print(cursor.fetchall())

[('Ana', 'Carolina', 'Santos'), ('Maria', 'Eduarda', 'Silva'), ('João', 'Pedro', 'Oliveira'), ('Marcos', 'Vinicius', 'Souza'), ('João', 'Silva', 'Santos'), ('Maria', 'Oliveira', 'Cruz'), ('Ana', 'Santos', 'Almeida'), ('Pedro', 'Silveira', 'Fernandes'), ('Carla', 'Mendes', 'Sousa'), ('Fernando', 'Pereira', 'Gomes')]

D) Liste a data de nascimento e o primeiro nome dos funcionários ordenados do mais novo para o mais velho

In [55]:
cursor.execute("SELECT DataNasci, PrimeiroNome FROM Funcionarios ORDER BY strftime('%TY-%m-%d', DataNasci) DESC")
print(cursor.fetchall())

[('12/01/2001', 'Ana'), ('03/02/1994', 'Maria'), ('02/01/1980', 'João'), ('31/07/1988', 'Marcos'), ('1990-05-15', 'João'), ('1985-09-20', 'Maria'), ('1992-03-10', 'Ana'), ('1980-12-25', 'Pedro'), ('1975-07-30', 'Carla'), ('1988-11-05', 'Fernando')]

E) Liste o total da folha de pagamento

In [57]:
cursor.execute("SELECT SUM(Salario) FROM Funcionarios")
print(cursor.fetchall())

[(52361.0,)]

F) Liste o nome, o nome do departamento e a função de todos os funcionários

In [59]:
sql = """SELECT
         Funcionarios.PrimeiroNome,
         Departamentos.Nome,
         Funcionarios.Funcao
         FROM Departamentos
         INNER JOIN Funcionarios ON Funcionarios.Codigo = Departamentos.Codigo"""
cursor.execute(sql)
cursor.fetchall()

[('Ana', 'Contabilidade', 'Contador'),
 ('Maria', 'Tecnologia da Informação', 'Desenvolvedor web'),
 ('João', 'Tecnologia da Informação', 'Analista de Dados'),
 ('Marcos', 'Tecnologia da Informação', 'Analista de Dados'),
 ('João', 'Tecnologia da Informação', 'Analista de Dados'),
 ('Maria', 'Tecnologia da Informação', 'Desenvolvedor de Software'),
 ('Ana', 'Tecnologia da Informação', 'Analista de Dados'),
 ('Pedro', 'Engenharia', 'Engenheiro Civil'),
 ('Carla', 'Medicina', 'Médico Pediatra'),
 ('Fernando', 'Tecnologia da Informação', 'Desenvolvedor de Software')]

G) Liste a quantidade de funcionários desta empresa

In [60]:
cursor.execute("SELECT COUNT(Codigo) FROM Funcionarios")
cursor.fetchall()

[(10,)]

H) Liste o nome do departamento e do funcionário ordenados por departamentos e funcionário

In [61]:
cursor.execute("SELECT Departamentos.Nome, Funcionarios.PrimeiroNome FROM Departamentos INNER JOIN Funcionarios ON Funcionarios.Codigo = Departamentos.Codigo")
cursor.fetchall()

[('Contabilidade', 'Ana'),
 ('Tecnologia da Informação', 'Maria'),
 ('Tecnologia da Informação', 'João'),
 ('Tecnologia da Informação', 'Marcos'),
 ('Tecnologia da Informação', 'João'),
 ('Tecnologia da Informação', 'Maria'),
 ('Tecnologia da Informação', 'Ana'),
 ('Engenharia', 'Pedro'),
 ('Medicina', 'Carla'),
 ('Tecnologia da Informação', 'Fernando')]